[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
